
<div class="header">
    <div class="logo">

        <a><img src="Images/LOGO.png" class="Logo-header"></a>

    </div>

    <div class="icons">

        <a [routerLink]="['/cuenta/bievenidos']"><img src="Images/icon-flecha.png" class="icon-flecha" alt="Atras"></a>
        <img src="Images/icon-hamburguesa.png" class="icon-hamburguesa" (click)="toggleMenu()" alt="Menú">

    </div>
</div>

<div *ngIf="menuOpen" class="hamburger-menu">
  <p [routerLink]="['/cuenta/ver-perfil']" (click)="selectOption('Ver Perfil')">Ver Perfil</p>
  <p [routerLink]="['/cuenta/actualizar-datos']" (click)="selectOption('Actualizar Datos')">Actualizar Datos</p>
  <p (click)="selectOption('Transacciones')" routerLink="/cuenta/transacciones">Transacciones</p>
  <p (click)="selectOption('Entradas Compradas')" routerLink="/cuenta/entradas-compradas">Entradas Compradas</p>
</div>


<div class="filters">


    <div class="filter">
        <button class="dropdown-toggle" (click)="toggleDropdown('tipoEventoDropdown')">Tipo de Evento</button>
        <div class="dropdown-menu" *ngIf="showDropdown === 'tipoEventoDropdown'">
            <p *ngFor="let tipo of tipoeventos" (click)="filtrar_porTipoPromotor(tipo.id)">
                {{ tipo.theme }}
            </p>
        </div>
    </div>

    <div class="filter">
        <button class="dropdown-toggle" (click)="toggleDropdown('promotorDropdown')">Promotor</button>
        <div class="dropdown-menu" *ngIf="showDropdown === 'promotorDropdown'">
            <p *ngFor="let promotor of promotores" (click)="filtrar_porPromotor(promotor.id)">
                {{ promotor.details }}
            </p>
        </div>
    </div>

    <div class="filter">
        <button class="dropdown-toggle" (click)="toggleDropdown('ciudadDropdown')">Ciudad</button>
        <div class="dropdown-menu" *ngIf="showDropdown === 'ciudadDropdown'">
            <p *ngFor="let ciudad of ciudades" (click)="filtrar_porciudad(ciudad.id)">
                {{ ciudad.name }}
            </p>
        </div>
    </div>

    <div class="filter">
        <button class="dropdown-toggle" (click)="cargarEventos()">Mostrar Todo</button>
    </div>
</div>



<div class="events">
    <div class="titulo-events">
        <h1><strong>Eventos</strong></h1>
    </div>
    <div class="eventos1" *ngFor="let eventoGrupo of agruparEventos(filteredEventos, 3)">
        <div class="event1" *ngIf="eventoGrupo[0]">
          <img [src]="getImagen(eventoGrupo[0].image)"
          onerror="src='/img_not_found.jpg'">

            <div class="arreglo">
                <div class="fecha">
                    <h5>{{ eventoGrupo[0].mes }}</h5>
                    <h1>{{ eventoGrupo[0].dia }}</h1>
                </div>
                <div class="texto">
                    <h5><strong>{{ eventoGrupo[0].nombre }}</strong></h5>
                    <p>{{ eventoGrupo[0].descripcion }}</p>
                    <button type="button" class="comprar" (click)="comprar(eventoGrupo[0])">Comprar</button>
                </div>
            </div>
        </div>
        <div class="event2" *ngIf="eventoGrupo[1]">
          <img [src]="getImagen(eventoGrupo[1].image)"
          onerror="src='/img_not_found.jpg'">

            <div class="arreglo">
                <div class="fecha">
                    <h5>{{ eventoGrupo[1].mes }}</h5>
                    <h1>{{ eventoGrupo[1].dia }}</h1>
                </div>
                <div class="texto">
                    <h5><strong>{{ eventoGrupo[1].nombre }}</strong></h5>
                    <p>{{ eventoGrupo[1].descripcion }}</p>
                    <button  type="button" class="comprar" (click)="comprar(eventoGrupo[1])">Comprar</button>
                </div>
            </div>
        </div>
        <div class="event3" *ngIf="eventoGrupo[2]">
          <img [src]="getImagen(eventoGrupo[2].image)"
          onerror="src='/img_not_found.jpg'">
            <div class="arreglo">
                <div class="fecha">
                    <h5>{{ eventoGrupo[2].mes }}</h5>
                    <h1>{{ eventoGrupo[2].dia }}</h1>
                </div>
                <div class="texto">
                    <h5><strong>{{ eventoGrupo[2].nombre }}</strong></h5>
                    <p>{{ eventoGrupo[2].descripcion }}</p>
                    <button  type="button" class="comprar" (click)="comprar(eventoGrupo[2])">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>


