
<div class="header">
    <div class="logo">
    
        <a><img src="Images/LOGO.png" class="Logo-header"></a>

    </div>

    <div class="icons">

        <a [routerLink]="['/cuenta/bievenidos']"><img src="Images/icon-flecha.png" class="icon-flecha" alt="Atras"></a>
        <img src="Images/icon-hamburguesa.png" class="icon-hamburguesa" (click)="toggleMenu()" alt="Menú">
    
    </div>
</div>

<div *ngIf="menuOpen" class="hamburger-menu">
    <p [routerLink]="['/cuenta/ver-perfil']" (click)="selectOption('Ver Perfil')">Ver Perfil</p>
    <p [routerLink]="['/cuenta/actualizar-datos']" (click)="selectOption('Actualizar Datos')">Actualizar Datos</p>
    <p (click)="selectOption('Eventos Favoritos')">Eventos Favoritos</p>
    <p [routerLink]="['/cuenta/comentarios']" (click)="selectOption('Comentar')">Comentar</p>
    <p [routerLink]="['/cuenta/transacciones']" (click)="selectOption('Transacciones')">Transacciones</p>
    <p  [routerLink]="['/cuenta/entradas-compradas']" (click)="selectOption('Entradas Compradas')">Entradas Compradas</p>
</div>

<div class="events">
    <div class="titulo-events">
        <h1><strong>Eventos</strong></h1>
    </div>

    
    <div class="eventos1">
        
        <div class="event1">
            <img src="Images/evento1.jpeg">
            <div class="arreglo">
                <div class="fecha">
                    <h5>APR</h5>
                    <h1>14</h1>
                </div>
                <div class="texto">
                    <h5><strong>Lima Latin Pop Fest</strong></h5>
                    <p>Concierto de música pop en Lima. Presentaciones de varios artistas destacados del género latino.</p>
                </div>
            </div>
            
        </div>
        <div class="star1">
            <img src="Images/icono-estrella.png" class="icon-estrella">                
        </div>
        <div class="event2">
            <img src="Images/evento2.jpeg">
            <div class="arreglo">
                <div class="fecha">
                    <h5>AUG</h5>
                    <h1>20</h1>
                </div>
                <div class="texto">
                    <h5><strong>Reggaeton Lima Festival 5 - Edición Halloween</strong></h5>
                    <p>Festival que reúne a artistas del género en una edición especial de Halloween en Lima.</p>
                </div>
            </div>
        </div>
        <div class="star2">
            <img src="Images/icono-estrella.png" class="icon-estrella">                
        </div>
        <div class="event3">
            <img src="Images/evento3.jpeg">
            <div class="arreglo">
                <div class="fecha">
                    <h5>SEP</h5>
                    <h1>18</h1>
                </div>
                <div class="texto">
                    <h5><strong>Ya Siéntese Señora - Teatro</strong></h5>
                    <p>Una obra teatral en el Teatro Plaza Norte con un toque humorístico y dramático. ¡No te la puedes perder!</p>
                </div>
            </div>
        </div>
        <div class="star3">
            <img src="Images/icono-estrella.png" class="icon-estrella">                
        </div>
    </div>
    <br><br>
    <div class="eventos1">
        <div class="event1">
            <img src="Images/evento4.png">
            <div class="arreglo">
                <div class="fecha">
                    <h5>APR</h5>
                    <h1>14</h1>
                </div>
                <div class="texto">
                    <h5><strong>Wonder Girls 2010 Wonder Girls World Tour Arequipa</strong></h5>
                    <p>Concierto del grupo Wonder Girls en su gira mundial, presentado.</p>
                </div>
            </div>
        </div>
        <div class="star1">
            <img src="Images/icono-estrella.png" class="icon-estrella">                
        </div>
        <div class="event2">
            <img src="Images/evento5.jpeg">
            <div class="arreglo">
                <div class="fecha">
                    <h5>AUG</h5>
                    <h1>20</h1>
                </div>
                <div class="texto">
                    <h5><strong>Concierto Pixar Sinfónico</strong></h5>
                    <p>Un concierto sinfónico con música de las películas de Pixar, una experiencia única con banda sonora en vivo.</p>
                </div>
            </div>
        </div>
        <div class="star2">
            <img src="Images/icono-estrella.png" class="icon-estrella">                
        </div>
        <div class="event3">
            <img src="Images/evento6.jpeg">
            <div class="arreglo">
                <div class="fecha">
                    <h5>SEP</h5>
                    <h1>18</h1>
                </div>
                <div class="texto">
                    <h5><strong>Teatro Plaza Norte - Amaranta</strong></h5>
                    <p>Un espectáculo especial en el Teatro Plaza Norte con presentaciones llenas de música y arte.</p>
                </div>
            </div>
        </div>
        <div class="star3">
            <img src="Images/icono-estrella.png" class="icon-estrella">                
        </div>
    </div>
</div>


<div class="button-container">
    <button class="veRmas">Ver más</button>
</div>


<div class="filters">
    <div class="filter">
        <button class="dropdown-toggle" (click)="toggleDropdown('fechaDropdown')">Fecha</button>
        <div class="dropdown-menu" *ngIf="showDropdown === 'fechaDropdown'">
            <p (click)="selectFilter('Hoy')">Hoy</p>
            <p (click)="selectFilter('Esta semana')">Esta semana</p>
            <p (click)="selectFilter('Este mes')">Este mes</p>
        </div>
    </div>
    
    <div class="filter">
        <button class="dropdown-toggle" (click)="toggleDropdown('tipoEventoDropdown')">Tipo de Evento</button>
        <div class="dropdown-menu" *ngIf="showDropdown === 'tipoEventoDropdown'">
            <p (click)="selectFilter('Conciertos')">Conciertos</p>
            <p (click)="selectFilter('Teatro')">Teatro</p>
            <p (click)="selectFilter('Festivales')">Festivales</p>
        </div>
    </div>

    <div class="filter">
        <button class="dropdown-toggle" (click)="toggleDropdown('promotorDropdown')">Promotor</button>
        <div class="dropdown-menu" *ngIf="showDropdown === 'promotorDropdown'">
            <p (click)="selectFilter('Promotor A')">Promotor A</p>
            <p (click)="selectFilter('Promotor B')">Promotor B</p>
            <p (click)="selectFilter('Promotor C')">Promotor C</p>
        </div>
    </div>

    <div class="filter">
        <button class="dropdown-toggle" (click)="toggleDropdown('ciudadDropdown')">Ciudad</button>
        <div class="dropdown-menu" *ngIf="showDropdown === 'ciudadDropdown'">
            <p (click)="selectFilter('Lima')">Lima</p>
            <p (click)="selectFilter('Arequipa')">Arequipa</p>
            <p (click)="selectFilter('Cusco')">Cusco</p>
        </div>
    </div>
</div>

