/* General container */
.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: url('../../../../../public/Images/fondo-login.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
}

  /* Styling for the form box */
.login-box {
    position: absolute;
    left: 200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 40px 100px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

  /* Title for the form */
.login-title {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

  /* Input fields */
.login-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #dcdcdc;
    outline: none;
    font-size: 16px;
}

  /* Forgot password link */
.forgot-password {
    color: #ff4081;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

  /* Buttons for register */
.login-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    background-color: #f5167e;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

  /* Button hover effect */
.login-btn:hover {
    background: linear-gradient(to right, #f8bc22 0%, #f5167e 100%);
    transform: scale(1.05);
}

  /* Morph Events Logo Section */
.morph-events-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.morph-logo {
    position: absolute;
    right: 10px;
    width: 800px;
    max-width: 100%;
    animation: slide-in 1s ease-in-out;
}

  /* Animation for Morph Events logo */
@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
