<header>
    <div class="logo">
        <a><img src="Images/LOGO.png" class="Logo-header"></a>
    </div>
    <div class="icons">

        <img [routerLink]="['/cuenta/bievenidos']" src="Images/icon-flecha.png" class="icon-flecha" alt="Atras">
    </div>
</header>


<div><img src="Images/mesas.png" class="imgMesas"></div>


<div class="oracion">
    <h1><strong>Tu opinión nos importa <br> ¡Déjanos un comentario!</strong></h1>
</div>

<div class="menu-container">
    <button class="menu-button" (click)="toggleMenu()">{{ selectedCommentType }}</button>
    <div *ngIf="menuOpen" class="menu-dropdown">
        <div (click)="selectOption('Queja')">Queja</div>
        <div (click)="selectOption('Recomendacion')">Recomendación</div>
        <div (click)="selectOption('Comentario positivo')">Comentario Positivo</div>
    </div>
</div>

<div class="comentario-container">
    <textarea class="comentario-recuadro" [(ngModel)]="description" placeholder="Escribe tu comentario aquí..." required></textarea>
</div>

<div class="button-container">
    <button class="enviar" (click)="enviarComentario()">Enviar</button>
</div>