<app-menu-admin></app-menu-admin>

<div class="title-container">
  <h5>Editar Ciudad</h5>
  <hr />
</div>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="editar()" class="form-grid">
    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre de la Ciudad</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          El nombre de la ciudad es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('name')?.hasError('minlength')">
          El nombre debe tener al menos 3 caracteres.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons-container">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Guardar Cambios</button>
      <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
