<app-menu-admin></app-menu-admin>
<h5>Lista de Eventos</h5>
<hr />

<div class="actions">
  <button mat-raised-button color="primary" (click)="nuevo()">
    <mat-icon>add</mat-icon> Nuevo
  </button>
</div>
<br>

<mat-form-field>
  <mat-label>Filtro de datos</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Escriba un filtro" />
</mat-form-field>
<br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Imagen </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="getImagen(element.image)" style="width: 100px;height: 100px;"
      onerror="src='/img_not_found.jpg'">
    </td>
  </ng-container>

  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef> Capacidad </th>
    <td mat-cell *matCellDef="let element"> {{ element.capacity }} </td>
  </ng-container>

  <ng-container matColumnDef="accessCode">
    <th mat-header-cell *matHeaderCellDef> Codigo Acceso </th>
    <td mat-cell *matCellDef="let element"> {{ element.accessCode }} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
    <td mat-cell *matCellDef="let element"> {{ element.startDate }} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
    <td mat-cell *matCellDef="let element"> {{ element.endDate }} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> Ciudad </th>
    <td mat-cell *matCellDef="let element"> {{ element.city?.name }} </td>
  </ng-container>

  <ng-container matColumnDef="typeEvent">
    <th mat-header-cell *matHeaderCellDef> Tipo Evento </th>
    <td mat-cell *matCellDef="let element"> {{ element.eventType?.eventName }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="editar(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="eliminar(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
