<mat-toolbar style="background-color: green; color: #fff;">
  <span>Sistema</span>
  <span class="example-spacer"></span>

  <!-- Menú Gestión -->
  <button mat-button [matMenuTriggerFor]="menuGestion" style="color: #fff;">
    Gestión
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menuGestion="matMenu">
    <a mat-menu-item routerLink="/ciudad/listar">
      <mat-icon>list</mat-icon>
      Ciudad
    </a>
    <a mat-menu-item routerLink="/tipoevento/listar">
      <mat-icon>list</mat-icon>
      Tipo de Evento
    </a>
    <a mat-menu-item routerLink="/evento/listar">
      <mat-icon>list</mat-icon>
      Evento
    </a>
    <a mat-menu-item routerLink="/promotor/listar">
      <mat-icon>list</mat-icon>
      Promotor
    </a>
    <a mat-menu-item routerLink="/tipoticket/listar">
      <mat-icon>list</mat-icon>
      Tipo de Ticket
    </a>
  </mat-menu>

  <!-- Botón Cerrar Sesión -->
  <button mat-button (click)="cerrarSesion()" style="color: #fff;">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar Sesión
  </button>
</mat-toolbar>
