<app-menu-admin></app-menu-admin>

<div class="title-container">
  <h5>Nuevo Tipo de Evento</h5>
  <hr />
</div>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="grabar()" class="form-grid">
    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre del Evento</mat-label>
        <input matInput formControlName="eventName" />
        <mat-error *ngIf="form.get('eventName')?.hasError('required')">El nombre es obligatorio.</mat-error>

        <mat-error *ngIf="form.get('eventName')?.hasError('minlength')">
          El nombre debe tener al menos 3 caracteres.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Tema</mat-label>
        <input matInput formControlName="theme" />
        <mat-error *ngIf="form.get('theme')?.hasError('required')">El tema es obligatorio.</mat-error>

        <mat-error *ngIf="form.get('theme')?.hasError('minlength')">
          El nombre debe tener al menos 3 caracteres.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('required')">La descripción es obligatoria.</mat-error>

        <mat-error *ngIf="form.get('description')?.hasError('minlength')">
          El nombre debe tener al menos 5 caracteres.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons-container">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Grabar</button>
      <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
